     img{
     	margin-left: 0.625em;
     }
    li {
      margin-bottom: 1.625em !important;
    }
     header {
 		 margin-bottom: 2.625em;
	 }
   #err,#info,.play{
    display: none;
   }
   .remove,.pause, 
   .play, .edit {
    float: right;
    padding-top: 0;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
  }
  .controls{
    padding: 0.325em;
  float: right;
  background-color: rgba(245, 245, 220, 0.13);
  box-shadow: inset -1px 0px 0px 1px rgba(255, 255, 255, 0.99), 0px 0px 5px 3px rgba(114, 173, 180, 0.5);
  }

  #timers li a {
    margin-right: 0.6em;
  }
  #timers li button {
    margin-right: 0.3em;
  }
  #timers {
    margin-top: 2.3em;
  }
  
  .highlight{
    color: #a94442;
  background-color: #f2dede !important;
  border-color: #ebccd1;
  }
  
  
  /**********************************
  * Jquery.countdown cust mods      *
  ************************************/
  .is-countdown{
    display: flex;
    display: -webkit-flex;
     -webkit-flex: 1; /* Safari 6.1+ */
    -ms-flex: 1; /* IE 10 */ 
    
    margin-bottom: 0em;
    width: 16em;
    margin-left: 1.325em;
  }