     img{
     	margin-left: 0.625em;
     }
    li {
      margin-bottom: 1.325em !important;
    }
     header {
 		 margin-bottom: 2.625em;
	 }
   #err,#info,.play{
    display: none;
   }
   .remove,.pause, 
   .play, .edit {
    float: right;
    padding-top: 0;
    padding-bottom: 0;
  }

  #timers li a {
    margin-right: 0.6em;
  }
  #timers li button {
    margin-right: 0.3em;
  }
  #timers {
    margin-top: 2.3em;
  }
  
  
  
  /**********************************
  * Jquery.countdown cust mods      *
  ************************************/
  .is-countdown{
      display: inline-block;
      margin-bottom: 0em;
      width: 16em;
  }